body{
    background-color: #E9EBEE;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
header{
    width: 100%;
    height: 56px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.fb-logo{
    height: 57px;
    width: 150px;
    padding-left: 3px;
}
.form{
    display: flex;
    justify-content: end;
    align-items: center;

}